[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/google/shaderc
